* {
    box-sizing: border-box;
}

body, html, #root {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

h1,p {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #252525;
    /* border: 2px solid blue; */
}

.control-btns {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3B3B3B;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

#header-search {
    background-image: url("assets/search-icon.svg");
    margin-right: 34px;
}

#header-info {
    background-image: url("assets/info-icon.svg");
}

.header-title {
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 59px;
    color: #ffffff;
    margin-right: auto;
    /* border: 2px solid blue; */
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    overflow: scroll;
    padding: 20px;
    /* border: 2px solid green; */
}

.note {
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: transform .5s ease-in-out;
    cursor: pointer;
    min-height: 200px;
}

.note-title {
    display: inline-block;
    width: 300px;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-family: inherit;
    overflow-wrap: break-word;
}


.note-detail {
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}

.note-detail-header {
    display: flex;
    /* border: 2px solid red; */
}

.back-btn {
    background-image: url("assets/back-icon.svg");
    background-size: 13px;
    margin-right: auto;
}

#edit-btn {
    background-image: url("assets/edit-icon.svg");
    background-size: 27px;
    margin-right: 36px;
}

#delete-btn {
    background-image: url("assets/delete-icon.svg");
    background-size: 27px;
}

.note-detail-title {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    margin-top: 42px;
    margin-bottom: 37px;
    color: #FFFFFF;
    font-family: inherit;
}

.note-detail-body {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 31px;
    color: #FFFFFF;
    font-family: inherit;
}

.new-note {
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
}

.new-note-header {
    display: flex;
}

#save-btn {
    background-image: url("assets/save-icon.svg");
}

.form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.title-txtarea {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    background: none;
    border: none;
    color: #9A9A9A;
    font-family: inherit;
    margin-bottom: 40px;
    resize: none;
}

.body-txtarea {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 31px;
    background: none;
    border: none;
    color: #9A9A9A;
    font-family: inherit;
    resize: none;
}

.empty-note {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-note-img {
    width: 350px;
}

.empty-note-txt {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: inherit;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    color: #ffffff;
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4), -5px 0px 10px rgba(0, 0, 0, 0.4);
    margin: 0 50px 50px auto;
    font-size: 48px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#header-search:hover, #header-info:hover, .back-btn:hover, 
#edit-btn:hover, footer:hover, #save-btn:hover, #delete-btn:hover {
    border: 2px solid skyblue;
    transform: scale(1.2);
}

#header-search:active, #header-info:active, .back-btn:active, 
#edit-btn:active, footer:active, #save-btn:active, #delete-btn:active {
    transform: scale(.98);
}

.note:hover {
    transform: scale(1.09);
}

.note:active {
    transform: scale(.98);
}